@use '../../styles/variables' as var;

.catalogue {
  gap: 48px;
}

.filterToolbar {
  width: 100%;
  max-width: 1720px;

  display: flex;
  align-items: center;
  gap: 16px;
}

.search {
  flex: 1;
  width: 100%;
}

.selectContent {
  margin: 0;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  gap: 16px;
  list-style: none;

  &Item {
    min-width: 0;
  }
}

.productList {
  margin: 0;
  max-width: 1720px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 556px));
  justify-content: center;
  gap: 32px 24px;
  list-style: none;
}

.productItem {
  display: flex;
  max-height: 764px;
}

.button {
  width: 392px;
  height: 48px;
}
