@use '../../styles/variables' as var;

.catalogue {
  gap: 48px;
}

.filterToolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.search {
  width: 100%;
  flex: 2;
}

.selectContent {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex: 1;
  gap: 16px;
  list-style: none;

  &Item {
    flex: 1;
    min-width: 0;
    max-width: 160px;
  }
}

.productList {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px 24px;
  list-style: none;
}

.productItem {
  display: flex;
  flex: 1 1 calc((100% - 48px) / 3);
  max-width: 391px;
  min-width: 280px;
  height: 553px;
}

.button {
  width: 392px;
  height: 48px;
}
