@use '../../../styles/variables' as var;
@use '../../../styles/mixins' as mixins;

.primaryButton {
  @include mixins.button-primary;

  &:disabled {
    color: var.$brown-40-color;
    background-color: var.$brown-30-color;
    cursor: not-allowed;
  }
}
