@use '../../../styles/variables' as var;
@use '../../../styles/mixins' as mixins;

.backButton {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  background: inherit;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: var.$brown-60-color;
  cursor: pointer;

  @include mixins.hover(color, var.$brown-100-color);
}
