@use '../../styles/variables.scss' as var;

.toast {
  position: fixed;
  top: 32px;
  left: 50%;
  z-index: 1000;
  opacity: 0;
  transform: translate(-50%, -16px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  pointer-events: none;

  &Visible {
    opacity: 1;
    transform: translate(-50%, 0);
    pointer-events: auto;
  }

  &Exiting {
    opacity: 0;
    transform: translate(-50%, -16px);
  }
}
