* {
  box-sizing: border-box;
}

:root {
  --brown-60-color: #765d57;
  --brown-100-color: #1f1411;
}

.page {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

.body {
  margin: 0;
  min-width: 320px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  width: 100%;
  margin-inline: auto;
  flex: 1;
}
