@use '../styles/variables' as var;

@mixin hover($property, $toValue) {
  transition: #{$property} var.$effectDuration;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin active-link {
  color: var.$brown-100-color;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var.$primary-90-color;
  }
}

@mixin button-primary {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var.$primary-90-color;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: var.$brown-10-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  @include hover(background-color, var.$primary-100-color);
}

@mixin button-secondary {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: transparent;
  text-align: center;
  border: 2px solid var.$primary-90-color;
  border-radius: 4px;
  color: var.$primary-90-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  @include hover(background-color, var.$primary-100-color);
  @include hover(color, var.$brown-10-color);
}

@mixin icon-style {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
