$primary-100-color: #180f0d;
$primary-90-color: #201815;
$background-90-color: #faf8f6;
$background-80-color: #fbfbfb;
$secondary-color: #fffcfc;
$brown-100-color: #1f1411;
$brown-90-color: #2c201d;
$brown-80-color: #412f2d;
$brown-70-color: #5a443f;
$brown-60-color: #765d57;
$brown-50-color: #927771;
$brown-40-color: #b19c95;
$brown-30-color: #cabbb6;
$brown-20-color: #dfd3cf;
$brown-10-color: #f7f2f1;
$white-color: #fff;
$bg-gray-color: #cfcfcf;
$hover-color: #d4a574;
$effectDuration: 0.3s;
