$pimary-color: #2c201d;
$secondary-color: #fffcfc;
$brown-color: #765d57;
$active-link-color: #1f1411;
$active-link-line-color: #201815;
$footer-title-color: #f7f2f1;
$footer-text-color: #dfd3cf;
$bg-white-color: #fff;
$bg-gray-color: #cfcfcf;
$bg-dark-color: #180f0d;
$hover-color: #d4a574;
$effectDuration: 0.3s;
