$primary-90-color: #201815;
$secondary-color: #fffcfc;
$brown-color: #765d57;
$brown-100-color: #1f1411;
$brown-90-color: #2c201d;
$brown-80-color: #412f2d;
$brown-10-color: #f7f2f1;
$footer-text-color: #dfd3cf;
$bg-white-color: #fff;
$bg-gray-color: #cfcfcf;
$bg-dark-color: #180f0d;
$hover-color: #d4a574;
$effectDuration: 0.3s;
