@use '../../styles/variables' as var;

.signupPage {
  padding: 32px 108px 139px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &Title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var.$brown-100-color;
  }

  &Subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var.$brown-70-color;
  }
}

.backButtonWrapper {
  margin-right: auto;
  margin-bottom: 40px;
}

.signupForm {
  width: 100%;
  padding: 24px;
  max-width: 392px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  background: var.$brown-10-color;
  border: 1px solid var.$brown-20-color;
  border-radius: 4px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkboxesWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkbox {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var.$brown-100-color;
  display: flex;
  align-items: center;

  &Button {
    height: 48px;
    width: 100%;
  }
}
