@use '../../styles/keyframes.scss';
@use '../../styles/variables.scss' as var;

.spinner {
  border: 3px solid var.$brown-20-color;
  border-top-color: var.$brown-60-color;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
