@import '../../styles/index.scss';

.header {
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 108px;
  background-color: $white-color;
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;

  @include hover(opacity, 0.8);
}

.logoImage {
  width: 121px;
  height: 60px;
}

.navigationList {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 51px;
}

.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  margin: 0;
  position: relative;
  color: $brown-60-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-decoration: none;

  &IsActive {
    color: $brown-100-color;

    @include active-link;
  }
}

.actions {
  display: flex;
  gap: 16px;
}

.actionLink {
  position: relative;
  width: 40px;
  height: 40px;
  color: $brown-60-color;

  display: flex;
  align-items: center;
  justify-content: center;

  &IsActive {
    color: $brown-100-color;

    @include active-link;
  }
}
