@use '../../../styles/variables' as var;
@use '../../../styles/mixins' as mixins;

.secondaryButton {
  @include mixins.button-secondary;

  &:disabled {
    color: var.$brown-30-color;
    border-color: var.$brown-30-color;
    background-color: transparent;
    cursor: not-allowed;
  }
}
